body{
    background: rgba(0, 0, 0, 0.859);
}
.main{
    border-radius: 22px;
   background-color: #1f2122;
}
.page-content{
    margin:10px;

  }
  .main-section{
    background-color:rgba(0, 0, 0, 0.27);
    border-radius: 17px;
  }
  .item{
    margin: 9px;
  }
  h2{
    font-family: cursive;
    font-weight: bolder;
    color: blanchedalmond;
    text-align: center;
  }
  .pro-cons{
    margin: 10px;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right ,rgb(43, 43, 179) , rgba(165, 15, 165, 0.918) );
  }
  .heading-sec{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: azure;
    padding-left: 25px;
  }
  .pro-cons ul li{
    color: rgba(240, 255, 255, 0.849);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  p{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(233, 234, 235, 0.986);
    font-size: 17px;
}
  h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgba(101, 31, 167, 0.822);
  }
  h3{
    font-family: cursive;
    font-weight: bolder;
    color: blanchedalmond;
    margin-top: 22px;
    padding-left: 19px;
  }
.ul-style{
    color: rgba(247, 252, 252, 0.918);
  }